[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-storages = "*"
reportlab = "*"
psycopg2 = "*"
pypdf2 = "*"
pillow = "*"
django-environ = "*"
django-admin-sortable2 = "*"
whitenoise = "*"

[dev-packages]
autopep8 = "*"
rope = "*"
pylint = "*"
pytest = "*"
pytest-django = "*"
django-debug-toolbar = "*"
ipython = "*"
pylint-django = "*"

[requires]
python_version = "3.9"
