astroid==1.6.0
dj-database-url==0.4.0
Django==1.11.8
-e git+https://github.com/Hovercross/django-admin-sortable.git@b5fc6548df36b8f032e50a7f83f175114e8bce9a#egg=django_admin_sortable
django-admin-sortable2==0.6.18
django-storages==1.6.5
envdir==0.7
gunicorn==19.7.1
isort==4.2.15
lazy-object-proxy==1.3.1
mccabe==0.6.1
olefile==0.44
Pillow==4.3.0
psycopg2==2.6.2
pylint==1.8.1
PyPDF2==1.26.0
pytz==2017.3
reportlab==3.4.0
six==1.11.0
whitenoise==3.3.1
wrapt==1.10.11
