dj-database-url==0.4.0
Django==1.9.2
-e git+https://github.com/Hovercross/django-admin-sortable.git@bbb88d57ab818d8345b0864bfcf2deefac227e41#egg=django_admin_sortable
Pillow==3.1.1
PyPDF2==1.25.1
reportlab==3.3.0
wheel==0.24.0
